@import "./_variables.css";

/* ================================
          LOGIN PAGE WRAPPER
=================================== */
.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #173f5f;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 0 40px;
}

/* ================================
          LEFT PANEL
=================================== */
.login-left {
  width: 420px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
}

.login-left-wrapper {
  transform: translateY(-20px);
}

.left-content {
  width: 75%;
  transform: translateY(-20px);
}

.left-logo-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.left-logo-img {
  width: 60px;
  margin-right: 12px;
}

.left-title {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.left-subtitle {
  font-size: 14px;
  opacity: 0.8;
  color: #ff7b39;
}

/* ================================
        FEATURE ITEMS
=================================== */
.feature-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.feature-icon {
  font-size: 28px;
  margin-right: 14px;
  color: #ff7b39;
}

.feature-item h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.feature-item p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

/* ================================
        RIGHT LOGIN CARD
=================================== */
.login-card {
  width: 560px;
  background: white;
  padding: 40px 35px;
  border-radius: 14px;
  box-shadow: 0px 6px 25px rgba(0,0,0,0.15);
  transform: translateY(-10px);
}

.subtitle {
  font-size: 14px;
  margin-bottom: 25px;
  color: gray;
}

/* INPUT FIELD */
.input-wrapper {
  position: relative;
  margin-bottom: 18px;
}

.input-icon {
  position: absolute;
  top: 10px;
  left: 12px;
  color: gray;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 14px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* BUTTON LOGIN */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #063970;
  color: white;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* DIVIDER */
.divider {
  text-align: center;
  margin: 20px 0;
  color: gray;
}

/* REGISTER LINK */
.register span {
  color: #ff5c33;
  cursor: pointer;
  font-weight: bold;

}

.register{
  text-align: center;
}

/* ================================
           RESPONSIVE
=================================== */
@media (max-width: 480px) {
  .login-card {
    width: 90%;
    padding: 40px 25px;
  }
}
